@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="catalog1" class="col-lg-9 col-md-9">
        <a href="phimle-index.html"><h1 class="index-title">Phim Lẻ Mới Cập Nhật</h1></a>
        <div id="owl-demo-1" class="owl-carousel">

            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/air_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=Bwgr2EKfMSo?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-air.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/antman_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=pWdKf3MneyI?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-antman.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/deepweb_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=BvC9oDlT8mM?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-deepweb.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/f4_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=_rRoD28-WgU?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-f4.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/minion_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=SvKmSNxFHyQ?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-minion.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/pixels_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=XAHprLW48no?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-deepweb.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/terminator_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=jNU_jrPxs-0?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-terminator.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/antman_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=pWdKf3MneyI?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-minion.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/f4_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=_rRoD28-WgU?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-letmein.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/avatar_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=5PSNL1qE6VY?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/copcar_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=p0abWuHBJRg?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avenger.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/demonic_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=pvyPmbBpBWw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-f4.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/Inception_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=YoHD9XEInc0?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-terminator.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/loft_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=1bJZYqGfYGE?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-sherlockhomes.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/theroad_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=-MYzi2TPRcM?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avenger.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/tron_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=L9szn1QQfas?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-sherlockhomes.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/starstrek_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=QAEkuVgt6Aw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/realsteel_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=3S8a180uYBM?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-letmein.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/noah_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=6qmj5mhDwJQ?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-sherlockhomes.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/dynasty_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=4z7_tlIyY18?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-expendables.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/hellboy_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=kA9vtXbbhVs?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-letmein.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/batman_thumbnail.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=EXeTwQWrcwY?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-terminator.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs aside01">
        <a href="phimle-index.html"><h3>Phim Lẻ Hot</h3></a>
        <div class="row" id="newmovie"></div>
    </div>
</div>
<div class="row">
    <div id="catalog2" class="col-lg-9 col-md-9">
        <a href="phimle-index.html"><h1 class="index-title">Phim Lẻ Chọn Lọc</h1></a>
        <div id="owl-demo-2" class="owl-carousel">
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/tumblr_l94b5f19hp1qdd4y6.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=reRRAEVHq8E?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-letmein.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/The_Conjuring_a_p-Ignition.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=Vjk2So3KvSQ?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-conjuring.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/the-expendables-2-movie-poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=ip_CYHdyUBs?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-expendables.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/shutter-island-movie-poster_600.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=5iaYLCiq5RM?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-deepweb.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/Robert-Downey-Jr-SH2-Movie-Posters-robert-downey-jr-26552476-800-1183.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=J7nJksXDBWc?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-sherlockhomes.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/movies-poster-50.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=K0HVeqjqs9E?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avenger.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/Movie_poster_i_robot.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=rL6RRIOZyCM?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-sherlockhomes.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/Minimalist-Movie-Posters-8.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=6kw1UVovByw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/lincoln-large.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=KJVuqYkI2jQ?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-minion.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/tumblr_l94b5f19hp1qdd4y6.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=reRRAEVHq8E?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/in_time-1.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=fdadZ_KrZVw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-terminator.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/goonies_0.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=hJ2j4oWdQtU?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/dragon-tattoo-460x683.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=DqQe3OrsMKI?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-deepweb.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/Battleship-Movie-Posters-battleship-2012-movie-30752377-1071-1500.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=cp3646Zf8rg?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-minion.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/2006-proposition-4-768x1134.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=G7V-CW_SUos?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/gamer-movie-poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=P2g94xQmtHw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-expendables.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/dirty_harry_movie_poster_rolling_roadshow_2010_olly_moss.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=HjBNldYiUmg?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-expendables.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/abduction-movie-poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=CEVkp5Je7m0?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/27-new-moon-movie-poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=KYBF3HKzrmE?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-letmein.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/in_time-1.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=fdadZ_KrZVw?fs=1&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimle-avatar.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs aside01">
        <a href="phimbo-index.html"><h3>Phim Bộ Hot</h3></a>
        <div class="row" id="hotmovie"></div>
    </div>
</div>
<div class="row">
    <div id="catalog3" class="col-lg-9 col-md-9">
        <a href="phimbo-index.html"><h1 class="index-title">Phim Bộ</h1></a>
        <div id="owl-demo-3" class="owl-carousel">
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/150608042140929676_FULL.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=5LHQm8LmK9M&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thestrain.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/26074.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=Cs3dTWDIxPI&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thelastship.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/283318-2.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=YKr70mFxf_w&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-zoo.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/284066-2.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=QqMe6pwSfIE&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thestrain.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/arrow_season_2_poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=ndvErSCLQIA&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-arrow.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/clipped-first-season.36508.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=IwH1l6qpYqY&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thelastship.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/Dark%20Matter%20Season%201%20(Ongoing)%20Mini%20MKV.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=1TqwBlTQfTg&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-zoo.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/e2a380ef63e8ab653bdced87e8fc6058.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=cunfnspXANM&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-arrow.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/fallingskies-season-5.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=MP7vrlvu9qk&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thestrain.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/26074.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=vlpzvj52KdM&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-arrow.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/The_Flash_promo_poster_-_Discover_what_makes_a_hero.png" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=qAQn7duY7SM&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-zoo.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo/27-new-moon-movie-poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=KYBF3HKzrmE&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-thestrain.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/teen_wolf___season_2_promo_poster_by_fastmike-d547wol.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=R4YDcV1QpLk&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-zoo.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/STRIKE-BACK-Season-2-Poster.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=Ll-Vc6FZAMU&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-arrow.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/poster-beauty-and-the-beast-season-3.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=l9g2w6XPoYs&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-zoo.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=Lo1D82mfVHU&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-olympus.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/mr_robot_ver7_xlg.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=U94litUpZuc&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-olympus.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/Lucifer-Poster-Tom-Ellis.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=X4bF_quwNtw&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-olympus.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/kevin_from_work.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=sqy8-78Jpq0&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-olympus.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="/img/thumbnail/phimbo2/Fear-the-Walking-Dead.jpg" alt="" />
                    <div class="mask">
                        <h1></h1>
                        <br><br><br>
                        <a class="videotrailer" href="https://www.youtube.com/watch?v=yzXglr5bc3w&amp;autoplay=1"><button class="btn btn-default">Xem Trailer</button></a>
                        <h1></h1>
                        <a href="watchphimbo-olympus.html" class="vipOnly"><button class="btn btn-default">Xem phim</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="row"></div>
    </div>
</div>
<script>
    $(function () {
        $('.carousel').carousel({
            interval: 5000
        });
        $("#owl-demo-1").owlCarousel({
            pagination: true,
            autoPlay: 7000,
            stopOnHover: true
        });

        $("#owl-demo-2").owlCarousel({
            pagination: true,
            autoPlay: 5000,
            stopOnHover: true
        });

        $("#owl-demo-3").owlCarousel({
            pagination: true,
            autoPlay: 5000,
            stopOnHover: true
        });
        $('#newmovie').slimScroll({
            height: '500px',
            color: '#f0f0f0'
        });
        $('#hotmovie').slimScroll({
            height: '500px',
            color: '#f0f0f0'
        });
  });
</script>