<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="watchphimle-terminator.html"><img src="images/carousel-phimle/terminator5.jpg" alt="Kẻ Hủy Diệt phần 5"></a>
        </div>
        <div class="item">
            <a href="watchphimle-avenger.html"><img src="images/carousel-phimle/avenger.jpg" alt="The Avenger"></a>
        </div>
        <div class="item">
            <a href="watchphimle-minion.html"><img src="images/carousel-phimle/nobita.jpg" alt="Nobita và những hiệp sĩ không gian"></a>
        </div>
        <div class="item">
            <a href="watchphimle-pixels.html"><img src="images/carousel-phimle/dragonball.jpg" alt="Dragon Ball Z"></a>
        </div>
        <div class="item">
            <a href="watchphimle-fast7.html"><img src="images/carousel-phimle/phapsuvotam.jpg" alt="Pháp sư vô tâm"></a>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>