<div class="container">
    <div class="col-md-4 col-sm-3">
        <span class="copyright">Copyright 2015 &copy; Lý Thanh Hải & Nguyễn Khánh</span>
    </div>
    <div class="col-md-4 col-sm-6">
        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-vimeo"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-youtube"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-3">
        <ul class="list-inline quicklinks">
            <li><a href="404.html">Privacy Policy</a>
            </li>
            <li><a href="404.html">Terms of Use</a>
            </li>
        </ul>
    </div>
</div>