<div class="row">
    <div class="media">
        <a href="watchphimle-avatar.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-mrrobot.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-avatar.html" class="vipOnly"><h4 class="media-heading">Mr Robot</h4></a>
            <small><i>Lượt xem: 49,321</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-letmein.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-nguoitinhkimcuong.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-letmein.html" class="vipOnly"><h4 class="media-heading">Người Tình Kim Cương</h4></a>
            <small><i>Lượt xem: 43,291</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-minion.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-nhungthienthannoidoi.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-minion.html" class="vipOnly"><h4 class="media-heading">Những Thiên Thần Nói Dối</h4></a>
            <small><i>Lượt xem: 16,483</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-letmein.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-onepeace-daohaitac.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-letmein.html" class="vipOnly"><h4 class="media-heading">One Piece - Đảo Hải Tặc</h4></a>
            <small><i>Lượt xem: 38,263</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-sherlockhomes.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-superpartnerquankhuyenkybinh.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-sherlockhomes.html" class="vipOnly"><h4 class="media-heading">Quân Khuyển Kỵ Binh</h4></a>
            <small><i>Lượt xem: 23,173</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimbo-thelastship.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-truedetectiveThamtuchanchinh.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimbo-thelastship.html" class="vipOnly"><h4 class="media-heading">Thám Tử Chân Chính</h4></a>
            <small><i>Lượt xem: 12,8478</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimbo-arrow.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimbo-zoo-bachthunoiday.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimbo-arrow.html" class="vipOnly"><h4 class="media-heading">Zoo - Bách Thú Nổi Dậy</h4></a>
            <small><i>Lượt xem: 23,223</i></small>
        </div>
    </div>
</div>

<script>
    $(".vipOnly").click(function () {
        checkCookie();
    });
</script>