<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">iMovie</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown mega-dropdown">
                    <a href="phimle-index.html" class="dropdown-toggle disabled" data-toggle="dropdown">PHIM LẺ <span class="caret"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Phim Hot iMovie</li>
                                <div id="phimhotNav" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="#"><img src="images/navbar-carousel/8d846ff402f0fc2ca1868c4aa0d8e45b.jpg" class="img-responsive"/></a>
                                            <h4><small>Minions- Biệt Đội Siêu Quậy</small></h4>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="images/navbar-carousel/19ce4c72404d36856c5ab44851ba0c57.jpg" class="img-responsive"/></a>
                                            <h4><small>San Andreas - Thảm Họa San Andreas</small></h4>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="images/navbar-carousel/hitman-agent-47_41841440481978.jpg" class="img-responsive"/></a>
                                            <h4><small>Hit Man: Agent 47</small></h4>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#phimhotNav" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#phimhotNav" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <li class="divider"></li>
                                <li><a href="phimle-index.html">Tất Cả Phim Lẻ <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Âu Mỹ</li>
                                <li><a href="#">Hành động</a></li>
                                <li><a href="#">Phiêu lưu</a></li>
                                <li><a href="#">Viễn tưởng</a></li>
                                <li><a href="#">Hình sự</a></li>
                                <li><a href="#">Hoạt hình</a></li>
                                <li><a href="#">Hài hước</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Châu Á</li>
                                <li><a href="#">Hành động</a></li>
                                <li><a href="#">Tình cảm</a></li>
                                <li><a href="#">Hoạt hình</a></li>
                                <li><a href="#">Hài hước</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Bảng Xếp Hạng</li>
                                <li><a href="phimhot.html"><span class="glyphicon glyphicon-heart-empty"></span> Xem nhiều</a></li>
                                <li><a href="#">iMovie đề cử</a></li>
                                <li><a href="#">Sắp chiếu</a></li>
                                <li><a href="#">Phim chiếu rạp</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="phimbo-index.html" class="dropdown-toggle disabled" data-toggle="dropdown">PHIM BỘ <span class="caret"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Âu Mỹ</li>
                                <li><a href="#">Cận đại</a></li>
                                <li><a href="#">Hài</a></li>
                                <li><a href="#">Tài liệu</a></li>
                                <li><a href="#">Tâm lý xã hội</a></li>
                                <li><a href="#">Viễn tưởng</a></li>
                                <li><a href="#">Kinh dị</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Châu Á</li>
                                <li><a href="#">Hồng Kông</a></li>
                                <li><a href="#">Trung Quốc</a></li>
                                <li><a href="#">Hàn Quốc</a></li>
                                <li><a href="#">Nhật Bản</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Bảng Xếp Hạng</li>
                                <li><a href="#">Xem nhiều</a></li>
                                <li><a href="#">iMovie đề cử</a></li>
                                <li><a href="#">Sắp chiếu</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Phim Hot iMovie</li>
                                <div id="phimbohotNav" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="#"><img src="images/navbar-carousel/fear-the-walking-dead---season-1_31871440484309.jpg" class="img-responsive"/></a>
                                            <h4><small>Fear The Walking Dead Season 1</small></h4>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="images/navbar-carousel/dark-matter-2015_73671440515552.jpg" class="img-responsive"/></a>
                                            <h4><small>Dark Matter - Vật Chất Bí ẩn 1</small></h4>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="images/navbar-carousel/spy_27591440493161.jpg" class="img-responsive"/></a>
                                            <h4><small>Bạn Gái Tôi là Điệp Viên</small></h4>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#phimbohotNav" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#phimbohotNav" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <li class="divider"></li>
                                <li><a href="phimbo-index.html">Tất Cả Phim Bộ <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="IMDB.html" class="vipOnly">TOP IMDB </a></li>
                <li><a href="tv.html" class="vipOnly">XEM TV </a></li>
            </ul>
            <ul id="loginAcc" class="nav navbar-nav navbar-right">
                <li ><a href="account.html"><span>LOGIN</span></a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="contact.html"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Dang-ky-VIP.html">BUY VIP</a></li>
            </ul>
        </div>
    </div>
</nav>


<script type="text/javascript">
    $(document).ready(function(){
        $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).delay(200).slideUp("400");
                    $(this).toggleClass('open');
                }
        );

        $(".vipOnly").click(function () {
            checkCookie();
        });

        var i = getCookie("username");
        if (i === "admin") {
            $("ul#loginAcc").replaceWith("<ul class='nav navbar-nav navbar-right'><li><a href='account.html'><span>Admin</span></a></li></ul>");
        }

        // Tinh nang add class 'active' tu dong
        var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
        $('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
    });

</script>