<div class="row">

    <div class="media">
        <a href="watchphimle-f4.html" class="pull-left">
        <img class="img-responsive media-object" src="images/thumbnails/phimle-actactontitan.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-f4.html" class="vipOnly"><h4 class="media-heading">Attact On Titan</h4></a>
            <small><i>Lượt xem: 43,221</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-avenger.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-ageofultron.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-avenger.html" class="vipOnly"><h4 class="media-heading">Avengers Age Of Ultron</h4></a>
            <small><i>Lượt xem: 33,271</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-conjuring.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-MIrouge.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-conjuring.html" class="vipOnly"><h4 class="media-heading">Mission Impposible Rouge</h4></a>
            <small><i>Lượt xem: 56,283</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-terminator.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-terminatorgenesys.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-terminator.html" class="vipOnly"><h4 class="media-heading">Terminator Genisys</h4></a>
            <small><i>Lượt xem: 98,373</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-sherlockhomes.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-pixel.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-sherlockhomes.html" class="vipOnly"><h4 class="media-heading">Pixels</h4></a>
            <small><i>Lượt xem: 28,373</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-avenger.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-fantastic4.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-avenger.html" class="vipOnly"><h4 class="media-heading">Bộ Tứ Siêu Đẳng</h4></a>
            <small><i>Lượt xem: 48,343</i></small>
        </div>
    </div>
    <div class="media">
        <a href="watchphimle-conjuring.html" class="pull-left">
            <img class="img-responsive media-object" src="images/thumbnails/phimle-panaroma2.jpg"/>
        </a>
        <div class="media-body">
            <a href="watchphimle-conjuring.html" class="vipOnly"><h4 class="media-heading">Paranormal Activity 2</h4></a>
            <small><i>Lượt xem: 48,333</i></small>
        </div>
    </div>
</div>

<script>
    $(".vipOnly").click(function () {
        checkCookie();
    });
</script>