<div class="trangphimle">
<div class="row">
    <div class="col-lg-8 col-md-7 col-sm-5"><h4>Xem phim lẻ hay nhất mới nhất</h4></div>
    <div class="col-lg-4 col-md-5 col-sm-7">
        <div class="row">
        <div class="col-xs-5"><h5>Sắp xếp theo: </h5></div>
        <div class="col-xs-7">
            <form>
            <select class="form-control input-sm">
                <option>Năm phát hành</option>
                <option>Điểm IMDB</option>
                <option>Xem nhiều</option>
                <option>Mới cập nhật</option>
            </select>
            </form>
        </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-wethotamerican.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Wet Hot American</strong></p></a>
                    <a href="#"><p class="text-center"><small>Trại Hè Kiểu Mỹ</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-actactontitan.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Attact on Titan</strong></p></a>
                    <a href="#"><p class="text-center"><small>Người Ngoài Hành Tinh</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-ageofultron.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Avengers Age Of Ultron</strong></p></a>
                    <a href="#"><p class="text-center"><small>Avengers Đế chế Ultron</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-dragonballz1.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Dragon Ball Z Movie 01</strong></p></a>
                    <a href="#"><p class="text-center"><small>Trả Gohan Lại Cho Ta</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-dragonballz2.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Dragon Ball Z Movie 02</strong></p></a>
                    <a href="#"><p class="text-center"><small>Kẻ Mạnh Nhất Thế Giới</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-dragonballz3.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Dragon Ball Z Movie 03</strong></p></a>
                    <a href="#"><p class="text-center"><small>Trận Siêu Quyết Chiến Địa</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-fantastic4.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Fantastic 4</strong></p></a>
                    <a href="#"><p class="text-center"><small>Bộ Tứ Siêu Đẳng 4</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-hotpursuil.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Hot Pursuit</strong></p></a>
                    <a href="#"><p class="text-center"><small>Cặp Đôi Hoàn Cảnh</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-MIrouge.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Mission Impposible Rouge</strong></p></a>
                    <a href="#"><p class="text-center"><small>Nhiệm Vụ Bất Khả Thi</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-monsterhunt.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Monster Hunt</strong></p></a>
                    <a href="#"><p class="text-center"><small>Truy Lùng Quái Vật</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-panaroma2.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Paranormal Activity 2</strong></p></a>
                    <a href="#"><p class="text-center"><small>Lời Nguyền Bí Ẩn 2</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-pixel.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Pixels</strong></p></a>
                    <a href="#"><p class="text-center"><small>Đại Chiến Pixels</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-samuraltocxoan.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Afro Samurai</strong></p></a>
                    <a href="#"><p class="text-center"><small>Samurai Tóc Xoăn</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-sieusayan.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Dragon Ball Z Movie 04</strong></p></a>
                    <a href="#"><p class="text-center"><small>Siêu Saiyan Son Goku</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-terminatorgenesys.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Terminator Genisys</strong></p></a>
                    <a href="#"><p class="text-center"><small>Kẻ Hủy Diệt 5: Thời Đại Genisys</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-responsive" src="images/thumbnails/phimle-tremors2.jpg"/></a>
                <div class="caption">
                    <a href="#"><p class="text-center"><strong>Tremor 2: Aftershocks</strong></p></a>
                    <a href="#"><p class="text-center"><small>Rồng Đất 2: Tỉnh Giấc</small></p></a>
                </div>
            </div>
        </div>
</div>
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>