<div class="row">
    <h3>Phim Liên Quan</h3>
    <hr>
</div>
<div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimbo-arrow.html"><img class="img-responsive" src="images/thumbnails/phimle-wethotamerican.jpg"/></a>
                <div class="caption">
                    <a href="watchphimbo-arrow.html"><p class="text-center"><strong>Wet Hot American</strong></p></a>
                    <a href="watchphimbo-arrow.html"><p class="text-center"><small>Trại Hè Kiểu Mỹ: Ngày Đầu Nhập Trại</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimbo-thestrain.html"><img class="img-responsive" src="images/thumbnails/phimle-actactontitan.jpg"/></a>
                <div class="caption">
                    <a href="watchphimbo-thestrain.html"><p class="text-center"><strong>Attact on Titan Live Action</strong></p></a>
                    <a href="watchphimbo-thestrain.html"><p class="text-center"><small>Cuộc Tấn Công Của Người Ngoài Hành Tinh</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimle-avenger.html"><img class="img-responsive" src="images/thumbnails/phimle-ageofultron.jpg"/></a>
                <div class="caption">
                    <a href="watchphimle-avenger.html"><p class="text-center"><strong>Avengers Age Of Ultron</strong></p></a>
                    <a href="watchphimle-avenger.html"><p class="text-center"><small>Avengers Đế chế Ultron</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimbo-zoo.html"><img class="img-responsive" src="images/thumbnails/phimle-dragonballz1.jpg"/></a>
                <div class="caption">
                    <a href="watchphimbo-zoo.html"><p class="text-center"><strong>Dragon Ball Z Movie 01</strong></p></a>
                    <a href="watchphimbo-zoo.html"><p class="text-center"><small>Trả Gohan Lại Cho Ta</small></p></a>
                </div>
            </div>
        </div>
</div>