<div class="row">
    <h3>Phim iMovie Đề Xuất</h3>
    <hr>
</div>
<div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimle-expendables.html"><img class="img-responsive" src="images/thumbnails/phimle-MIrouge.jpg"/></a>
                <div class="caption">
                    <a href="watchphimle-expendables.html"><p class="text-center"><strong>Mission Impposible Rouge</strong></p></a>
                    <a href="watchphimle-expendables.html"><p class="text-center"><small>Nhiệm Vụ Bất Khả Thi: Quốc Gia Bí Ẩn</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimle-fast7.html"><img class="img-responsive" src="images/thumbnails/phimle-monsterhunt.jpg"/></a>
                <div class="caption">
                    <a href="watchphimle-fast7.html"><p class="text-center"><strong>Monster Hunt</strong></p></a>
                    <a href="watchphimle-fast7.html"><p class="text-center"><small>Truy Lùng Quái Vật</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimle-letmein.html"><img class="img-responsive" src="images/thumbnails/phimle-panaroma2.jpg"/></a>
                <div class="caption">
                    <a href="watchphimle-letmein.html"><p class="text-center"><strong>Paranormal Activity 2</strong></p></a>
                    <a href="watchphimle-letmein.html"><p class="text-center"><small>Lời Nguyền Bí Ẩn 2: Tokyo Night</small></p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <a href="watchphimle-minion.html"><img class="img-responsive" src="images/thumbnails/phimle-pixel.jpg"/></a>
                <div class="caption">
                    <a href="watchphimle-minion.html"><p class="text-center"><strong>Pixels</strong></p></a>
                    <a href="watchphimle-minion.html"><p class="text-center"><small>Đại Chiến Pixels</small></p></a>
                </div>
            </div>
        </div>
</div>