<div class="trangphimle">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-5"><h4>Xem phim bộ hay nhất mới nhất</h4></div>
        <div class="col-lg-4 col-md-5 col-sm-7">
            <div class="row">
                <div class="col-xs-5"><h5>Sắp xếp theo: </h5></div>
                <div class="col-xs-7">
                    <form>
                        <select class="form-control input-sm">
                            <option>Năm phát hành</option>
                            <option>Điểm IMDB</option>
                            <option>Xem nhiều</option>
                            <option>Mới cập nhật</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-allaboutmymom.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>All About My Mom</strong></p></a>
                        <a href="#"><p class="text-center"><small>Câu Chuyện Mẹ Tôi (2015)</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-assembly2015.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Assembly 2015</strong></p></a>
                        <a href="#"><p class="text-center"><small>Quốc Hội</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-dominion.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Dominion - Season 2</strong></p></a>
                        <a href="#"><p class="text-center"><small>Ác Thần 2</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-fearthewalkingdead.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Fear The Walking Dead</strong></p></a>
                        <a href="#"><p class="text-center"><small>Khởi nguồn xác sống</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-hannibal-giaosuanthit.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Hannibal Season 3</strong></p></a>
                        <a href="#"><p class="text-center"><small>Giáo Sư Ăn Thịt Người 3</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-hoathiencot.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>The Journey of Flower</strong></p></a>
                        <a href="#"><p class="text-center"><small>Hoa Thiên Cốt</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-hwaijung-trieudaihuyhoang.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Hwaijung 2015</strong></p></a>
                        <a href="#"><p class="text-center"><small>Triều Đại Huy Hoàng</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-impastor-donggiamucsu.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Impastor Season 1 (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Đóng Giả Mục Sư</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-nguoitinhkimcuong.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Diamond Lover</strong></p></a>
                        <a href="#"><p class="text-center"><small>Người Tình Kim Cương</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-nhungthienthannoidoi.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Pretty Little Liars</strong></p></a>
                        <a href="#"><p class="text-center"><small>Những Thiên Thần Nói Dối</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-olympus.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Olympus (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Những Vị Thần Đỉnh Olympia</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-onepeace-daohaitac.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>One Piece (1999)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Đảo Hải Tặc</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-yongpal-thientailangbam.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Yong Pal (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Thiên Tài Lang Băm</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-zoo-bachthunoiday.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Zoo (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Bách Thú Nổi Dậy</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-truedetectiveThamtuchanchinh.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>True Detective (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Thám Tử Chân Chính</small></p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="images/thumbnails/phimbo-superpartnerquankhuyenkybinh.jpg"/></a>
                    <div class="caption">
                        <a href="#"><p class="text-center"><strong>Super Partner (2015)</strong></p></a>
                        <a href="#"><p class="text-center"><small>Quân Khuyển Kỳ Binh</small></p></a>
                    </div>
                </div>
            </div>
    </div>
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>