<div class="row">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="video" src="https://player.vimeo.com/video/109794218?color=6abedb" width="1024" height="570" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div id="switch" class="btn-cs">
        <i class="fa fa-lightbulb-o"></i>
        <span>Tắt Đèn</span>
    </div>
    <div class="btn-cs">
        <i class="fa fa-hand-paper-o"></i>
        <span>Tắt Quảng Cáo</span>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h6><strong>Đánh giá kênh:</strong> </h6>
    </div>
    <div class="col-md-10">
        <div class="stars">
            <form action="">
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionLichChieu">Lịch chiếu phim</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionLichChieu" class="tab-pane fade in active">
            <table style="width: 100%" class="table">
                <tr>
                    <th>Thời gian</th>
                    <th>Tên Phim</th>
                </tr>
                <tr>
                    <td>8h</td>
                    <td>Avengers: Age Of Ultron</td>
                </tr>
                <tr>
                    <td>10h</td>
                    <td>Attack On Titan Live Action (2015)</td>
                </tr>
                <tr>
                    <td>14h</td>
                    <td>Ant-Man</td>
                </tr>
                <tr>
                    <td>16h</td>
                    <td>Mission Impossible: Rogue Nation</td>
                </tr>
                <tr>
                    <td>18h</td>
                    <td>Minions</td>
                </tr>
                <tr>
                    <td>20h</td>
                    <td>Dragon Ball Z Movie 04: Lord Slug</td>
                </tr>
                <tr>
                    <td>22h</td>
                    <td>Sex Is Zero 2</td>
                </tr>
                <tr>
                    <td>24h</td>
                    <td>Jurassic World</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="fb-comments" data-href="https://www.facebook.com/iWatchHD" data-numposts="5" colorscheme="dark"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#video").allofthelights ();
    });
</script>